@font-face {
    font-family: kara-med;
    src: url(../SG.Kara_YasDL.com/SGKara-Light.ttf);
}
@font-face {
    font-family: kara-reg;
    src: url(../SG.Kara_YasDL.com/SGKara-Regular.ttf);
}
@font-face {
    font-family: kara-bol;
    src: url(../SG.Kara_YasDL.com/SGKara-SemiBold.ttf);
}